# Node modules
node_modules/

# Environment / secret files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Build / cache
dist/
tmp/
.cache/

# Editor / IDE settings
.vscode/
.idea/

# Specific files you don't want
package-lock.json
